@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F8F7F8;
    background-image: url('../src/Assets/Images/Group.svg');
    background-repeat: no-repeat;
    background-position:fixed;
    background-size:cover;
    background-attachment: fixed;
    
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;

    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-button {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-corner {
    background-color: #f5f5f5;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track-piece {
    background-color: #f5f5f5;
}
